body{
    height: 100vh;
    display: flex;
    background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #63e 100%);
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 560px;
  background-color: #99CDD8;
  margin: auto;
  border-radius: 20px;
}
.form input{
    display: flex;
    align-items: center;
    width: 240px;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
}
.form input:hover{
transform: scale(1.2);
border:1px solid #657166;
}
.form h2{
    padding-bottom: 40px;
    text-align: center;
}
.form p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.click{
     padding: 10px 90px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.click:hover{
   background: linear-gradient(270deg, #ff0080, #7928ca, #0070f3, #ff0080);
  background-size: 400% 400%;
  animation: movegradient 5s ease infinite;  
}

@keyframes movegradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.click1{
    padding: 10px 90px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} 
.form span{
  color: red;
}